.header {
    background-color: rgb(246, 246, 246, 0.5);
    backdrop-filter: blur(16px);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    flex-direction: row;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.header-title {
    font-weight: bold;
    font-size: 24px;
}

.header-content-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 20px;
}

.header-content-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 40px;
    margin-right: 84px;
}